.container {
  margin:50px;
  width: 116px;
  height: 34px;
  background: linear-gradient(104.34deg, #3C4CAD -15.34%, #00C3FF 145.95%);
  border: 0;  
  border-radius: 4px;
  box-sizing: content-box;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.container:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px #99A0A3;
}
  .container:active {
    background: linear-gradient(104.34deg, #5362BE -15.34%, #4AD5FF 145.95%);
    border:0
    /* border: 1.5px solid rgba(29, 138, 216, 0.3); */
  }

