.container {
  padding: 25px;
  position: relative;
}
.logOut {
  display: flex;
  align-items: center;
  position: absolute;
  right: 25px;
  cursor: pointer;
}
.logOut_text {
  font-family: 'SF Pro Text';
  font-size: 20px;
  line-height: 22px;
  color: #1157A7;
  margin-right: 20px;
}
